
    <div class="login-container">
        <img src="https://img-4.linternaute.com/11a5vfgxU0mX4l1JKrjweHSePXA=/1080x/smart/04c6a50cb2114936a0b628b2b6bbcd98/ccmcms-linternaute/34763656.jpg" alt="mountain background" class="background-image">
        <div class="login-box">
            <img src="https://img.freepik.com/free-vector/mountains-landscape-with-pink-view_23-2148280861.jpg" alt="profile" class="profile-picture">
            <h2>Connexion</h2>
            <form action="#" method="post">
                <input type="text" placeholder="Utilisateur">
                <input type="password" placeholder="Mot de passe">
                <button type="submit">Se Connecter</button>
            </form>
            <a href="#">Mot de passe oublie?</a>
        </div>
    </div>
